@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500;600&family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
 *{
     margin: 0;
     padding: 0;
 }
 
 nav{
    background-color:red;
    color:whitesmoke;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 19px;
    font-family: 'Festive', cursive;
}

nav ul {
    list-style-type: none;

} 
.gameContainer{

    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);

}
.box{
    border: 2px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    
background-color: rgb(167, 91, 116);
}
.gameinfo{
    padding: 0 50px;
    font-family: 'Baloo Chettan 2', cursive;
}
.imagebox img{
    display: none;
}
.bl-0{
border-left: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
.bt-0{
    border-top : 0;
}